<h2>{{ title }}</h2>
<p>Welcome to {{ title }}</p>
{{# if condition }}
  Condition is met
  {{ else }}
  Condition not met
  {{/if}}

  {{# each anyArray as |key val| }}
    {{ key }}: {{ val }}
    {{/each}}
<h2>Hello there welome to my web! {{ title }}</h2>
