<h2>{{ title }}</h2>
<p>Welcome to {{ title }}</p>
{{# if condition }}
  Condition is met
  {{ else }}
  Condition not met
  {{/if}}

  {{# each anyArray as |val key| }}
    {{ key }}: {{ val }}
  {{/each}}
